<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<site>
    <articlesDirectories>
        <contentXpath>id('article-content')//div[@class='article']//following-sibling::p[following-sibling::h3]</contentXpath>
        <directoryUrl>http://goarticles.com/search/?type=&amp;q=${keyword}</directoryUrl>
        <excluders>//excluder</excluders>
        <excluders>//abcbbc[1]/21323</excluders>
        <linksXpath>//a[@class=&quot;article_title_link&quot;]</linksXpath>
        <listerXpath>//a[text()='Next']</listerXpath>
        <mutators>
            <entry>
                <key>limit=10</key>
                <value>limit=5</value>
            </entry>
        </mutators>
        <titleXpath>id('article-content')//h1/text()</titleXpath>
    </articlesDirectories>
    <collected>30</collected>
    <count>30</count>
    <keywords>
        <articles>
            <articlesDirectory>
                <contentXpath>id('article-content')//div[@class='article']//following-sibling::p[following-sibling::h3]</contentXpath